/* ==================== */
/* VARIÁVEIS E BASE */
/* ==================== */
:root {
  /* Cores - Organizadas por tonalidade */
  --color-green-low: #52F7B3;
  --color-green-medium: #3CA378;
  --color-green-high: #235F46;
  
  --color-gray-light: #F5F5F5;
  --color-gray-medium: #AFAFAF;
  --color-gray-dark: #2C2C2C;
  --color-gray-bg: #2c2c2c74;
  
  --color-blue-low: #8EDCF7;
  --color-blue-medium: #3C9BA3;
  --color-blue-high: #23525F;
  
  --color-purple-low: #E0C7F7;
  --color-purple-medium: #9B6EC3;
  --color-purple-high: #5A357A;
  
  --color-yellow-low: #FFF8CC;
  --color-yellow-medium: #F7C452;
  --color-yellow-high: #8A6A1F;
  
  --color-red-low: #F7B3B3;
  --color-red-medium: #D94B4B;
  --color-red-high: #6E1C1C;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-light: #2C2C2C;   
    --color-gray-medium: #7A7A7A;  
    --color-gray-dark: #F5F5F5; 

    --color-green-low: #3CA378;
    --color-green-medium: #52F7B3;
    --color-green-high: #8EF5CF;

    --color-blue-low: #3C9BA3;
    --color-blue-medium: #8EDCF7;
    --color-blue-high: #B0EAF9;

    --color-purple-low: #9B6EC3;
    --color-purple-medium: #E0C7F7;
    --color-purple-high: #D8B6F5;

    --color-yellow-low: #F7C452;
    --color-yellow-medium: #FFF8CC;
    --color-yellow-high: #FFD765;

    --color-red-low: #D94B4B;
    --color-red-medium: #F7B3B3;
    --color-red-high: #FF7676;
  }
}
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}
