@import './base.css';

@font-face {
  font-family: 'Playwrite';
  src: url('@/assets/fonts/PlaywriteITModerna-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Playwrite';
  src: url('@/assets/fonts/PlaywriteITModerna-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.main-container{
  min-height: 100vh;
  max-height: 100%;
  min-width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, 
    var(--color-green-high), 
    var(--color-green-medium)
  );
}

.back {
  width: 40px;
  height: 40px;
  stroke: #fff; /* ícones outline usam stroke */
  stroke-width: 1.5;
  transition: 0.5s;
}

.back:hover{
    stroke: var(--color-red-medium);
    transform: scale(1.1);
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--color-gray-light);
  border-radius: 9999px;
  border: 0.5px;
  position: relative;
  box-shadow: 0 1px 5px black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.SwitchRoot[data-state="checked"] {
  background-color: var(--color-green-medium);
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px black;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

body{
  font-family: sans-serif;
  background-color: #e5e7eb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogOverlay[data-state="open"],
.DialogContent[data-state="open"] {
  animation: fadeIn 300ms ease-out;
}

.DialogOverlay[data-state="closed"],
.DialogContent[data-state="closed"] {
  animation: fadeOut 300ms ease-in;
}

@keyframes pulse {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}